html, body {
    height: 100%; 
    margin: 0; 
    font-family: Arial, sans-serif;
    background-color: #91bbe7;
}

.pai {
    display: flex;
    flex-direction: column;        
    justify-content: center;       
    align-items: center;           
    height: 100vh;                 
    margin-left: 30%;                     
    padding: 20px;                
    border: 1px solid #d3d3d3;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;       
    width: 80%;                    
    max-width: 600px;              
    background-color: #fff;       
}

#valor,#tipoVeiculo,#estado{

            border-radius: 5px;       
            background-color: #ffffff; 
            padding: 10px;            
            box-sizing: border-box;  
            align-items: center;
            margin-right:48px;
            margin-bottom: 0px;
            
}

#valor1{
    border: 2px solid #366ca5; 
    border-radius: 5px;       
    background-color: #ffffff; 
    padding: 10px;            
    width: 500%;               
    max-width: 300px;        
    box-sizing: border-box;  
    align-items: center;
    margin-right: 100px
    
    
}

.selecoes{

    border: 2px solid #366ca5; 
            border-radius: 5px;       
            background-color: #ffffff; 
            padding: 10px;            
            width: 500%;               
            max-width: 300px;        
            box-sizing: border-box;  
            align-items: center;
            margin-right: 100px
            
}



.botaoResultado {
    border: 2px solid #366ca5; 
    border-radius: 5px;       
    background-color: #007bff; 
    color: #fff;              
    padding: 10px 20px;      
    cursor: pointer;         
    box-sizing: border-box;  
    margin-top: 20px;
    align-items: center;
    
}

h1{
    font-size: 2.5rem;
    color: #000000;
    margin: 20px 0
    
}

#resultadoContainer{
    border: 1px solid #366ca5; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px; 
    border-radius: 5px;
   
}

.invisivel{
    display: none;
}


button:hover {
    background-color: #4e84fa;
}

button:active {
    background-color: #ccc;
}

#consultasLateral {
    position: fixed; 
    right: 120px; 
    top: 100px; 
    width: 250px; 
    padding: 15px; 
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
    max-height: 400px; 
    overflow-y: auto; 
}


#listaConsultas {
    list-style: none; 
    padding: 0;
    margin: 0;
}


#listaConsultas li {
    margin-bottom: 10px; 
    font-size: 14px; 
    color: #333; 
}